/* Asegúrate de que el contenedor ocupe toda la pantalla */
ion-content {
 --background: #fff3eb;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* Mantén el estilo del formulario tal como lo tienes */
.form {
  max-width: 320px;
  width: 100%;
  background-color: #fff3eb;
  padding: 20px;
  box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #000000;
  margin-left: 10%;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000000;
}

.label {
  color: rgb(0, 0, 0);
  margin-bottom: 4px;
}

.input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1rem;
  color: #ffffff;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  background-color: #000000;
  box-shadow: 0 0 0 2px #cbd5e0;
}

.input:valid {
  border: 1px solid green;
}

.input:invalid {
  border: 1px solid rgba(14, 14, 14, 0.205);
}

.submit {
  background-color: #1a202c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.mensaje-exito {
  color: #2c5282;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.mensaje-error {
  color: #ff0000;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.btn .button2{
  background-color: #b40000;
  color: #f0f4f8;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;

}

.button3 {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}
