<ion-content [fullscreen]="true" class="register-content">

  <app-header></app-header>

  <div>
    <p>Registrate para poder reservar</p>
  </div>

  <form (ngSubmit)="registerUser()" class="form">
    <p id="heading">Registrarse</p>

    <!-- Campo de Nombre de Usuario -->
    <div class="field">
      <ion-input [(ngModel)]="userData.name" name="name" placeholder="Nombre de Usuario" class="input-field" required></ion-input>
    </div>

    <!-- Campo de Email -->
    <div class="field">
      <ion-input [(ngModel)]="userData.email" name="email" type="email" placeholder="Correo Electrónico" class="input-field" required></ion-input>
    </div>

    <!-- Campo de Contraseña -->
    <div class="field">
      <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" class="input-field" required></ion-input>
    </div>

    <!-- Campo de Selección de Rol -->
    <div class="field">
      <ion-select [(ngModel)]="userData.rol" name="rol" placeholder="Selecciona tu rol" class="input-field" required>
        <ion-select-option value="cliente">Cliente</ion-select-option>
        <ion-select-option value="empresa">Empresa</ion-select-option>
      </ion-select>
    </div>

    <div class="field">
      <ion-input [(ngModel)]="userData.rut" name="rut" placeholder="RUT" class="input-field" required></ion-input>
    </div>

    <!-- Botón de Registro -->
    <div class="btn">
      <button type="submit" class="button2">Registrarse</button>
    </div>
    <div *ngIf="mensajeExito" class="mensaje-exito">
      {{ mensajeExito }}
    </div>
    <div *ngIf="mensajeError" class="mensaje-error">
      {{ mensajeError }}
    </div>
    <!-- Enlace para "Olvidó su contraseña" -->
    <button [routerLink]="['/forgotpassword']" class="button3">¿Olvidó su clave?</button>
  </form>
</ion-content>
