/* From Uiverse.io by Yaya12085 */
<form class="form">
    <span class="title">Register</span>
    <label for="username" class="label">Username</label>
    <input type="text" id="username" name="username" required="" class="input">
    <label for="email" class="label">Email</label>
    <input type="email" id="email" name="email" required="" class="input">
    <label for="password" class="label">Password</label>
    <input type="password" id="password" name="password" required="" class="input">
    <label for="Rut" class="label">Rut</label>
    <input type="rut" id="rut" name="rut" required="" class="input">
    <button type="submit" class="submit">Register</button>
  </form>
