<ion-header>
  <ion-toolbar>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="register-content">

  <app-header></app-header>

  <div class="titulo">
    <p>Registrate para poder reservar</p>
  </div>

  <form (ngSubmit)="registerUser()" class="form">
    <p id="heading">Registrarse</p>

    <!-- Campo de Nombre de Usuario -->
    <div class="field">
      <ion-input [(ngModel)]="userData.name" name="name" placeholder="Nombre de Usuario" class="input-field" required></ion-input>
    </div>

    <!-- Campo de Email -->
    <div class="field">
      <ion-input [(ngModel)]="userData.email" name="email" type="email" placeholder="Correo Electrónico" class="input-field" required></ion-input>
    </div>

    <!-- Campo de Contraseña -->
    <div class="field">
      <ion-input 
        [(ngModel)]="password" 
        name="password" 
        type="password" 
        placeholder="Contraseña" 
        class="input-field" 
        (ionInput)="validatePassword()"
        required>
      </ion-input>
      <!-- Mensaje de validación en tiempo real -->
      <div *ngIf="passwordError" class="mensaje-error">
        {{ passwordError }}
      </div>
    </div>

    <!-- Campo de Selección de Rol -->
    <div class="field">
      <ion-select [(ngModel)]="userData.rol" name="rol" placeholder="Selecciona tu rol" class="input-field" required>
        <ion-select-option value="cliente">Cliente</ion-select-option>
        <ion-select-option value="empresa">Empresa</ion-select-option>
      </ion-select>
    </div>

    <div class="field">
      <ion-input 
        [(ngModel)]="userData.rut" 
        name="rut" 
        placeholder="RUT" 
        class="input-field" 
        (ionInput)="validateRut()" 
        required>
      </ion-input>
      <div *ngIf="rutError" class="mensaje-error">
        {{ rutError }}
      </div>
    </div>

    <!-- Botón de Registro -->
    <div class="btn">
      <button type="submit" class="button2" [disabled]="passwordError">Registrarse</button>
    </div>
    <div *ngIf="mensajeExito" class="mensaje-exito">
      {{ mensajeExito }}
    </div>
    <div *ngIf="mensajeError" class="mensaje-error">
      {{ mensajeError }}
    </div>
  </form>
</ion-content>