ion-content {
  --background:  #fff3eb; /* Fondo gris muy claro para resaltar el contenido */
}

.recovery-container {
  max-width: 450px;
  margin: 10% auto;
  background-color: #ffffff; /* Fondo blanco puro */
  border-radius: 16px;
  padding: 40px 30px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  text-align: center;

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: #1a1a1a; /* Negro elegante */
    margin-bottom: 12px;
  }

  p {
    font-size: 16px;
    color: #4a4a4a; /* Gris oscuro para el texto */
    margin-bottom: 25px;
    line-height: 1.6;
  }

  ion-item {
    --background: transparent;
    --highlight-color-focused: #333333; /* Gris muy oscuro al hacer foco */
    --border-radius: 10px;
    --inner-padding-end: 0;
    margin-bottom: 20px;
    border: 1px solid #cccccc; /* Bordes grises suaves */
    padding: 10px;
    border-radius: 12px;
  }

  ion-input {
    --color: #1a1a1a; /* Texto en negro */
    --placeholder-color: #6e6e6e; /* Placeholder gris */
    --padding-start: 12px;
    --padding-end: 12px;
    --placeholder-opacity: 1; /* Placeholder completamente visible */
  }

  ion-label {
    --color: #1a1a1a; /* Etiqueta en negro */
    font-size: 16px;
    font-weight: 600;
    opacity: 1;
    transform: translateY(0);
  }

  .submit-button {
    --background: #dd1d1d; /* Fondo gris muy oscuro */
    --border-radius: 30px;
    --box-shadow: 0px 4px 12px rgba(51, 51, 51, 0.4);
    font-size: 18px;
    font-weight: bold;
    padding: 14px;
    color: #ffffff;
    margin-top: 30px;
    transition: transform 0.2s ease, background-color 0.3s ease;
  }

  .submit-button:hover {
    transform: translateY(-3px);
    --background: #1a1a1a; /* Negro puro al pasar el cursor */
  }

  .back-to-login {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    ion-text {
      font-size: 14px;
      color: #4a4a4a; /* Texto en gris oscuro */
    }

    .login-button {
      --color: #b31919; /* Botón de enlace con gris muy oscuro */
      font-size: 16px;
      font-weight: 500;
      padding: 0;
      --padding-start: 0;
      transition: color 0.3s ease;
    }

    .login-button:hover {
      --color: #1a1a1a; /* Negro puro al pasar el cursor */
    }

    .login-button::part(native) {
      padding: 0;
    }
  }
}
.mensaje-error{
  color:red;
}