<ion-content>
  <app-header>
    <ion-toolbar>
      <ion-title>Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </app-header>

  <ion-content>
    <div class="recovery-container">
      <h2>Recupera tu contraseña</h2>
      <p>Ingresa tu correo electrónico para enviarte un enlace de recuperación a tu correo personal.</p>

      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input 
          type="email" 
          placeholder="email@dominio.com" 
          [(ngModel)]="email" 
          (ionInput)="validateEmail()">
        </ion-input>
      </ion-item>
      <div *ngIf="emailError" class="mensaje-error">{{ emailError }}</div>

      <!-- Vinculamos el método enviarEnlace al botón -->
      <ion-button 
        expand="block" 
        class="submit-button" 
        (click)="enviarEnlace()" 
        [disabled]="emailError || !email">
        Enviar Enlace
      </ion-button>

      <div class="back-to-login">
        <ion-text>¿Ya tienes cuenta?</ion-text>
        <ion-button fill="clear" routerLink="/login" class="login-button">Iniciar Sesión</ion-button>
      </div>
    </div>
  </ion-content>
</ion-content>