.header {
  display: flex;
  justify-content: center;
  align-items: space-between;
  background-color: #fff3eb;
}

.header h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 30px;
  color: #820000;
}

.header img {
  align-items: center;
  max-width: 150px; /* Ajusta el tamaño del logo si es necesario */
}

// h1 {
//   color: black;
// }
