<ion-header>
  <ion-toolbar>
    <ion-title>Reserva de Mesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Formulario para la reserva -->
  <form [formGroup]="reservaForm" (ngSubmit)="reservar()">
    <!-- Campo para seleccionar la fecha -->
    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-datetime
        formControlName="fecha"
        [min]="today"
        display-format="DD MMM YYYY"
      ></ion-datetime>
    </ion-item>

    <!-- Campo para seleccionar la hora -->
    <ion-item>
      <ion-label>Hora</ion-label>
      <ion-select formControlName="hora">
        <ion-select-option *ngFor="let hora of horas">{{ hora }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campo para seleccionar la cantidad de personas -->
    <ion-item>
      <ion-label position="floating">Cantidad de personas</ion-label>
      <ion-input type="number" formControlName="cantidad" min="1"></ion-input>
    </ion-item>

    <!-- Botón para reservar -->
    <ion-button expand="block" type="submit" [disabled]="reservaForm.invalid">
      Reservar
    </ion-button>
  </form>
</ion-content>