ion-content {
  --background: #3a3a3a; /* Azul oscuro */
  color: #ffffff;        /* Texto blanco */
}

.form {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente para el formulario */
  padding: 20px;
  border-radius: 10px;
  color: #000000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra sutil para el formulario */
}

.field {
  display: flex;
  align-items: center;
  background-color: #f7fafc; /* Fondo claro para los campos de entrada */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.input-field {
  color: #2d3748; /* Color de texto gris oscuro para una lectura cómoda */
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.button1, .button2, .button3 {
  background-color: #122e5d; /* Azul intermedio para los botones */
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button1:hover, .button2:hover, .button3:hover {
  background-color: #2c5282; /* Color más oscuro en hover */
}

.register-text p {
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.register-link {
  color: #90cdf4; /* Azul claro para el enlace de registro */
  text-decoration: underline;
  cursor: pointer;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
