<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form">
  <ion-item>
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <ion-button class="boton1" expand="full" (click)="login()">Iniciar sesión</ion-button>

  <ion-button class="boton2" expand="full" color="light" routerLink="/registrar">¿No tienes cuenta? Regístrate</ion-button>
</ion-content>
