ion-header {
  background-color: #820000; /*color de fondo del encabezado*/
}

ion-title {
  color:#fff3eb;
}

ion-content {
  --background: #fff3eb; /*color cream*/
  color: #820000;        /*texto rojo oscuro*/

  ion-label {
    color:gray; /*etiquetas en blanco*/
  }

  /*botón de iniciar sesion*/
  ion-button.boton1 {
    --background: #820000;/*fondo del botón rojo*/
    --color: #fff3eb;/*texto en blanco suave*/
    --border-radius: 5px;/*para bordes redondeados*/
  }

  /*estilo para el botón secundario */
  ion-button.boton2 {
    --background: #fff3eb;/*fondo suave del botón secundario*/
    --color: #820000;/*texto en rojo*/
  }

  /* Estilo para el mensaje de error */
  .error-message {
    color: #820000;/*rojo oscuro para el mensaje de error*/
    font-size: 14px;/*ajusta el tamaño del texto*/
    font-weight: bold;/*hacer que el mensaje de error sea más destacado*/
    margin-top: 10px;/*espaciado superior*/
    text-align: center;/*alinea el texto al centro*/
  }
}

ion-toolbar {
  --background: #820000;/*barra de herramientas con el mismo color rojo*/
}
