ion-header {
  background-color: #820000; /* Color de fondo del encabezado */
}

ion-title {
  color:#fff3eb;
}

ion-content {
  --background: #fff3eb; /* color cream */
  color: #820000;        /* Texto rojo oscuro */

  ion-label {
    color:gray; /* Etiquetas en blanco */
  }

  /* Botón de Iniciar sesión con el rojo deseado */
  ion-button.boton1 {
    --background: #820000; /* Fondo del botón rojo */
    --color: #fff3eb; /* Texto en blanco suave */
    --border-radius: 5px; /* Opcional: para bordes redondeados */
  }

  /* Estilo para el botón secundario */
  ion-button.boton2 {
    --background: #fff3eb; /* Fondo suave del botón secundario */
    --color: #820000; /* Texto en rojo */
  }

  /* Estilo para el mensaje de error */
  .error-message {
    color: #820000; /* Rojo oscuro para el mensaje de error */
    font-size: 14px; /* Ajusta el tamaño del texto */
    font-weight: bold; /* Hacer que el mensaje de error sea más destacado */
    margin-top: 10px; /* Espaciado superior */
    text-align: center; /* Alinea el texto al centro (opcional) */
  }
}

ion-toolbar {
  --background: #820000; /* Barra de herramientas con el mismo color rojo */
}
