ion-content {
  --padding: 16px;
  padding-bottom: 60px; /*espacio adicional para el footer */
}

ion-title {
  color: #f0f4f8;
}

.titulo {
  text-align: center; /*centra el texto */
  font-size: 24px; /*tamaño de la fuente */
  font-weight: bold; /*negrita */
  color: #820000; /*color del texto */
}

.boton {
  --background: #820000; /*fondo del botón con rojo */
  --color: #fff3eb; /*texto en blanco */
  --border-radius: 5px; /*bordes redondeados */
  --padding-start: 16px; /*espaciado interno */
  --padding-end: 16px;
  font-size: 16px; /*tamaño de la fuente */
  font-weight: bold; /*negrita */
}

ion-toolbar {
  --background: #820000; /*fondo de la barra de herramientas */
}
