.home-content {
  --background: #fff3eb; // Fondo crema
  color: #820000; // Texto rojo oscuro

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 20px;

    .home-title {
      font-size: 2rem;
      color: #820000;
      margin-bottom: 20px;
    }

    .login-button {
      background-color: #b40000; // rojo
      color: #f0f4f8; // Texto claro
      padding: 15px 30px;
      font-size: 1.2rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #1a3a5b; //Azul más oscuro en hover
      }
    }
  }
}
